:root {
  --soft_red: hsl(10, 79%, 65%);
  --cyan: hsl(186, 34%, 60%);
  --dark_brown: hsl(25, 47%, 15%);
  --medium_brown: hsl(28, 10%, 53%);
  --cream: hsl(27, 66%, 92%);
  --very_pale_orange: hsl(33, 100%, 98%);
  --ff_primary: "DM Sans", sans-serif;
  --fw_400: 400;
  --fw_700: 700;
}

